#profilePicture {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-color: black;
}

#pictureSection {
  display: flex;
  flex-direction: row;
}

#picture {
  width: 400rem;
}

#about {
  width: 200rem;
  margin-left: 30px;
}

#icons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
